<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/blog.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="blog-header">
        <h3 class="blog-title">The Bootstrap Blog</h3>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>
</div>
</body>
</html>