<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/blog.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-md-9 col-sm-9">
        <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                        <a class="blog-nav-item" href="../requirement">需求表</a>
                        <a class="blog-nav-item" href="../test">测试表</a>
                        <a class="blog-nav-item" href="../script">脚本</a>
                    </nav>
                </div>
            </div>
    </div>

</div>
</body>
</html>