<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery/jquery-3.1.0.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstraptable-->
    <script src="/static/bootstraptable/bootstrap-table.js"></script>
    <link href="/static/bootstraptable/bootstrap-table.css" rel="stylesheet">
    <script src="/static/bootstraptable/locale/bootstrap-table-zh-CN.js"></script>

    <script src="/static/yxtest3/js/testmessage.js"></script>
</head>
<body>
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
    <table id="tb_departments"></table>
<br/><br/>
{% include 'public/foot.html' %}
</body>

</html>