<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/blog.css" rel="stylesheet">

</head>
<body>
<footer class="blog-footer">
   <div >
     Copyright © 2016-2016    <strong><a href="http://www.runoob.com/" target="_blank">california</a></strong>&nbsp;
    <strong><a href="http://www.runoob.com/" target="_blank">runoob.com</a></strong> All Rights Reserved. 备案号：闽ICP备15012807号-1
   </div>
</footer>
</body>
</html>